{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Danh sách tác giả 
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
<h2>Danh sách tác giả</h2>
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<!-- Nút thêm mới, bấm vào sẽ hiển thị form nhập thông tin Thêm mới -->
<a href="create.php" class="btn btn-primary">
    <span data-feather="plus"></span> Thêm mới
</a>
<br><br>
<table class="table table-bordered table-hover my-3" id="example">
    <thead class="thead-dark">
        <tr>
            <th>Mã tác giả</th>
            <th>Tên tác giả</th>
            <th>Năm sinh</th>
            <th>Năm mất</th>
            <th>Quê quán</th>
            <th>Hành động</th>
         
        </tr>
    </thead>
    <tbody>
        {% for tacgia in ds_tacgia %}
        <tr>
            <td>{{ tacgia.tacgia_mtacgia }}</td>
            <td>{{ tacgia.tacgia_tentacgia }}</td>
            <td>{{ tacgia.tacgia_namsinh }}</td>
            <td>{{ tacgia.tacgia_nammat }}</td>
            <td>{{ tacgia.tacgia_quequan }}</td>
            
         
            <td>
                <!-- Nút sửa, bấm vào sẽ hiển thị form hiệu chỉnh thông tin dựa vào khóa chính `lsp_ma` -->
                <a href="edit.php?tacgia_mtacgia={{ tacgia.tacgia_mtacgia }}" class="btn btn-warning">
                    <span data-feather="edit"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
                </a>

                <!-- Nút xóa, bấm vào sẽ xóa thông tin dựa vào khóa chính `lsp_ma` -->
                <form action="/quanlycuahangsach/backend/tacgia/delete.php?tacgia_mtacgia={{ tacgia.tacgia_mtacgia }}" method="post"
                    data-id="{{ tacgia.tacgia_mtacgia }}" class="frmDelete" style="float: left;">
                    <button type="submit" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{# End Nội dung trong block content #}
{% block customscripts %}
{% if session['status-insert'] %}
<script type="text/javascript">
    swal("Congratulation", 'Inserted successfully', "success");
</script>
{% endif %}

{% if session['status-update'] %}
<script type="text/javascript">
    swal("Congratulation", 'Updated successfully', "success");
</script>
{% endif %}
<script>
    $(function () {
        //class frmDelete thêm vào chỗ nút delete
        $('.frmDelete').submit(function (e) {
            //dừng các sự kiện mặc định
            e.preventDefault();
            //lấy dữ liệu từ data-id trên form của nút xóa
            var tacgia_mtacgia = $(this).data('id');
            debugger;
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {//nếu yes thì sử lý
                    //hàm lấy tất cả dữ liệu
                    //xóa dữ liệu dạng điều hướng
                    //var sendData = $(this).serialize();

                    //gửi yêu câu đi
                    $.ajax({
                        type: 'POST',//loại gửi đi post,get....
                        url: $(this).attr('action'),//đường dẫn đến nới xóa dữ liệu
                        //data: sendData,
                        //gửi dữ liệu bằng tay

                        data: {
                            //id là phải cùng với para trong action destroy
                            tacgia_mtacgia: tacgia_mtacgia,
                        },
                        //dataType: 'JSON'
                        // success hay fail có hay không cũng không sao
                        success: function (data, textStatus, jqXHR) {
                            //load lại trang khi đã xóa
                            swal("Poof! Your imaginary file has been deleted!", {
                                icon: "success",
                            });
                            location.href = ''
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            // debugger;

                        },
                    });

                } else {
                    swal("Your imaginary file is safe!", {
                        icon: "info",
                    });
                }
            })
            ///
        });
    });
</script>
<!-- modal alert xóa -->
<!-- <script type="text/javascript">
    function confirmDelete(self) {
        var ls_ma = self.getAttribute("data-id");

        document.getElementById("form-delete-user").ls_ma.value = ls_ma;
        $("#exampleModal").modal("show");
    }</script> -->

<!-- {% if session['status-delete'] %}
<script type="text/javascript">
    swal("Congratulation", 'Deleted successfully', "success");
</script>
{% endif %} -->

{% endblock %}